# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Ludum Dare 49 - Unstable.iml
# Datasource local storage ignored files
/../../../../../../:\unity\Ludum Dare 49 - Unstable\.idea\.idea.Ludum Dare 49 - Unstable\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
